<div class="block-wrapper">
  <h2 class="header-title">
    PERSONA INTRO
  </h2>
  <div class="text-container">
  <h4 class="text-title">
    This is Mary
  </h4>
  <p class="text">
      Rosetta married when she was 24 and now has a 2 kids who are center 
      of her universe. Her husband runs a dental clinic, so their family 
      can easily afford spending couple hundreds for clothing. This also 
      a reason, why she sometimes treats her friends outwardly, and may be 
      bossy sometimes. Although she seems to be outgoing, she is self-centered 
      sometimes and she has has to hide it behind her compulsive actions. 
      As a good housewife Rosetta is concentrated on the quality and prefers 
      fast delivery, as she has no time to deal with all the shopping. As she 
      likes to impress her friends and neighbours, she prefers good design and 
      fashionable goods to prove her status and feel comfortable.
  </p>
  </div>
</div>