<div class="block-wrapper" #target>
  <h2 class="header-title">
    MEET ROSETTA
  </h2>
  <div class="content">
    <img src="../../assets/img/photo-01@2x.png" class="image">
    <div class="text-container">
      <div class="icon-wrapper">
        <img src="../../assets/img/icon-profile.svg" class="icon">
        <img src="../../assets/img/divider-430.svg" class="line">
      </div>
      <h4 class="text-title">
        Rosetta Miller
      </h4>
      <p class="text">Rosetta is a stay-at-home mom who married when she was 24, and now has 2 kids who are the center of her universe. Her husband has a dental practice, and they can afford to splash out on the latest fashions. Rosetta has a very busy schedule, and is rushing to her next commitment; sometimes, she can even be bossy and impatient with her friends! Although she seems to be outgoing, she is introverted sometimes and she hides it behind her compulsive actions. <br>
        As a busy mom on-the-go, Rosetta is concentrated on quality items with fast delivery. She doesn’t have the time to do all of her shopping in stores, though she will window shop when the mood strikes her.
      </p>
    </div>
  </div>
</div>