<div class="block-wrapper">
        <h2 class="header-title">
            SOCIAL MEDIA
        </h2>
        <div class="text-wrapper">
            <div class="icon-wrapper">
                <img src="../../assets/img/icon-twitter.svg" class="icon">
                <img src="../../assets/img/icon-fb.svg" class="icon">
                <img src="../../assets/img/divider-300.svg" class="line">
            </div>
            <h4 class="text-title">
                We enrich <br> your consumer’s behavior data
            </h4>
            <p class="text">
                with verbatim data from social media profiles <br> (Facebook and Twitter)
            </p>
        </div>
    </div>