<div class="block-wrapper">
        <h2 class="header-title">
            SOCIAL MEDIA
        </h2>
        <div class="text-wrapper">
            <div class="icon-wrapper">
                <img src="http://via.placeholder.com/44x44" class="icon">
                <img src="http://via.placeholder.com/44x44" class="icon">
                <img src="http://via.placeholder.com/300x2" class="line">
            </div>
            <h4 class="text-title">
                We enrich <br> consumer’s behavior data
            </h4>
            <p class="text">
                with verbatim data from social media profiles <br> (Facebook and Twitter)
            </p>
        </div>
    </div>