<div mnFullpage class="content-container">
    <div class="section">
        <app-persona-intro></app-persona-intro>
    </div>
    <div class="section">
        <app-consumers-behavior></app-consumers-behavior>
    </div>
    <div class="section">
        <app-social-media></app-social-media>
    </div>
    <div class="section">
        <app-consumers-profile-chart></app-consumers-profile-chart>
    </div>
    <div class="section">
        <app-consumers-profile></app-consumers-profile>
    </div>
    <div class="section">
        <app-ocean-profile></app-ocean-profile>
    </div>
    <div class="section">
        <app-ocean-twitter></app-ocean-twitter>
    </div>
    <div class="section">
        <app-solution-application></app-solution-application>
    </div>
    <div class="section">
        <app-solution-impact></app-solution-impact>
    </div>
</div>