<div class="block-wrapper">
    <h2 class="header-title">
        CONSUMER’S BEHAVIOR
    </h2>
    <div class="text-wrapper">
        <div class="icon-wrapper">
            <img src="http://via.placeholder.com/44x44" class="icon">
            <img src="http://via.placeholder.com/430x2" class="line">
        </div>
        <h4 class="text-title">
            We know Mary’s shopping habits and purchase history..
        </h4>
        <p class="text">
            Our algorithm uses this data to build psychometric consumer profile
        </p>
    </div>
</div>