.button-large {
    background-color:#4a90e2; 
    width: 460px;
    height: 60px;
    margin-top: 20px;
    font-family: 'Proxima Nova Bl';
    font-size: 26px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.button-small {
    font-family: 'Proxima Nova Bl';
    height: 50px;
    background: url(/assets/img/btn-go.svg);
    padding-top: 4px;
}

.input-twitter {
    font-family: 'Proxima Nova Bl';
    font-size: 26px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}

.message {
  width: 460px;
  height: 32px;
  opacity: 0.5;
  font-family: 'Proxima Nova Bl';
  font-size: 26px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
  padding: 20px;
}

.message-hint {
  width: 460px;
  height: 24px;
  font-family: 'Open Sans';
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #00b089;
  padding: 30px;
}

.message-image {
  width: 220px;
  height: 210px;
}