<div class="text-container" fxLayout="row">
    <div class="header-small" fxFlex="50">
        TRY YOURSELF
    </div>
    <div fxFlex="50">
        <mat-form-field color='black'>
            <input color='black' matInput placeholder="Enter your twitter name" [(ngModel)]="twitterName" name="twitterName" />
        </mat-form-field>
    </div>
</div>
<div fxLayout="column">
    <div fxFlexAlign="center">
        Your similar persona is:
    </div>
</div>
<div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="42px">
    <div class="advert">

    </div>
    <div fxFlex="50">
        <div fxLayout="column">
            <div fxLayout="row">
                <div>
                    <img class="avatar" src="https://i.pinimg.com/474x/4b/5d/19/4b5d1954fbb5b6bad18f0ac25c4ab3c3--free-avatars-create-your-own-avatar.jpg">
                </div>
                <div fxFlexAlign="center">
                    <div>
                        Name Surname
                    </div>
                    <div>
                        age, proffession
                    </div>
                </div>
            </div>
            <div style="display: block">
                <canvas baseChart [datasets]="radarChartData" [labels]="radarChartLabels" [chartType]="radarChartType" (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></canvas>
            </div>
        </div>
    </div>
</div>
<div class="text-container">
    <div class="text-header">
        Description
    </div>
    <div class="text">
        Michael is demanding and meticulous person. Michael works as a senior regional manager in the logistics company. Michaels
        position in the company implies a lot of business traveling to coordinate shipping and logistics throughout the Western
        regions of US. In college Michael played in College football league and he still enjoys playing football with friends
        on weekends as well as watching Super Bowl. Michael prefers expensive and qualitative apparel that represents his
        financial status. Due to his work he is interested in online shopping and trusts certain brands. Michael believes
        that his spare time is priceless and doesn’t like spending too much time on shopping, so he values fast and clear
        experience when shopping online.
    </div>
</div>
<div fxLayout="column">
        <div fxFlexAlign="center">
             <button  mat-raised-button>Go to top</button>
        </div>
    </div>