<div class="text-container" fxLayout="row">
    <div class="header-small" fxFlex="50">
        SEE THE DIFFERENCE
    </div>
    <div fxFlex="50">
         <app-avatar></app-avatar>
    </div>
</div>
<div fxLayout="row">
    <div class="advert vertical-center">
    <img [src]="profileAdvertBackground" />
        <div class="horizontal-center" *ngIf="loading">
        <mat-spinner></mat-spinner>
        </div>
    </div>
    <div class="vertical-center">
        <div fxLayout="column" style="margin-left:0; margin-right:0;">
         
            <div class="text-header" style="margin-bottom:50px;">
                Change the scores for each of <br>the traits
            </div>
            <div>
            </div>
            <div>{{score.scores[0]}} Openness</div><mat-slider (change)="getProfile()" thumbLabel="true" [(ngModel)]="score.scores[0]" [max]="99" [min]="1" [step]="1">
            </mat-slider>
            <div>{{score.scores[1]}} Conscientiousness</div><mat-slider (change)="getProfile()" thumbLabel="true" [(ngModel)]="score.scores[1]" [max]="99" [min]="1" [step]="1">
            </mat-slider>
            <div>{{score.scores[2]}} Extraversion</div><mat-slider (change)="getProfile()" thumbLabel="true" [(ngModel)]="score.scores[2]" [max]="99" [min]="1" [step]="1">
            </mat-slider>
            <div>{{score.scores[3]}} Agreeableness</div><mat-slider (change)="getProfile()" thumbLabel="true" [(ngModel)]="score.scores[3]" [max]="99" [min]="1" [step]="1">
            </mat-slider>
            <div>{{score.scores[4]}} Neuroticism</div><mat-slider (change)="getProfile()" thumbLabel="true" [(ngModel)]="score.scores[4]" [max]="99" [min]="1" [step]="1">
            </mat-slider>
            </div>

    </div>
</div>
<div class="text-container">
    <div class="text-header">
        Description
    </div>
    <div class="text" style="margin-bottom:30px;">
        Michael is demanding and meticulous person. Michael works as a senior regional manager in the logistics company. Michaels
        position in the company implies a lot of business traveling to coordinate shipping and logistics throughout the Western
        regions of US. In college Michael played in College football league and he still enjoys playing football with friends
        on weekends as well as watching Super Bowl. Michael prefers expensive and qualitative apparel that represents his
        financial status. Due to his work he is interested in online shopping and trusts certain brands. Michael believes
        that his spare time is priceless and doesn’t like spending too much time on shopping, so he values fast and clear
        experience when shopping online.
    </div>
</div>