* {
    font-size: 100%;
    font-family: 'Proxima Nova Rg';
}

.topnav {
    background: RGBA(255, 255, 255, 0.90);
    z-index: 10;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}

.header {
    height: 122px;
    font-family: 'Proxima Nova Rg';
    font-size: 100px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}

.header-small {
    width: 308px;
    height: 82px;
    font-family: 'Proxima Nova Rg';
    font-size: 50px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.82;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}

.text-header {
    height: 32px;
    font-family: 'Proxima Nova Rg';
    font-size: 26px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}

.text {
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.63;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}

.text-container {
    padding-left: 42px;
}

.horizontal-center {
    margin-left: auto;
    margin-right: auto;
}

.vertical-center {
    display: flex; 
    align-items: center;
}

.advert {
    width: 450px;
    min-width: 450px;
    height: 375px;
    margin: 0 0 0 42px;
}

.loading-container {
    width: 1024px;
    height: 600px;
}

.avatar {
    border-radius: 50%;
    width: 80px;
}

.initial-spinner {
    width: 40px;
    height: 40px;

    position: relative;
    margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #333;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
    0%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 50% {
          transform: scale(1.0);
          -webkit-transform: scale(1.0);
      }
}

.fullscreen-center {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-items: center;
}

.fp-tableCell {
    position: relative;
}




.slider_0 .mat-accent .mat-slider-thumb,
.slider_0 .mat-accent .mat-slider-thumb-label,
.slider_0 .mat-accent .mat-slider-track-fill {
    background: #d51b5d;
}
.slider_1 .mat-accent .mat-slider-thumb,
.slider_1 .mat-accent .mat-slider-thumb-label,
.slider_1 .mat-accent .mat-slider-track-fill {
    background: #f36e24;
}
.slider_2 .mat-accent .mat-slider-thumb,
.slider_2 .mat-accent .mat-slider-thumb-label,
.slider_2 .mat-accent .mat-slider-track-fill {
    background: #00a6ce;
}
.slider_3 .mat-accent .mat-slider-thumb,
.slider_3 .mat-accent .mat-slider-thumb-label,
.slider_3 .mat-accent .mat-slider-track-fill {
    background: #ee4d9b;
}
.slider_4 .mat-accent .mat-slider-thumb,
.slider_4 .mat-accent .mat-slider-thumb-label,
.slider_4 .mat-accent .mat-slider-track-fill {
    background: #00b089;
}

.slider_0 .mat-slider-thumb,
.slider_1 .mat-slider-thumb,
.slider_2 .mat-slider-thumb,
.slider_3 .mat-slider-thumb,
.slider_4 .mat-slider-thumb, {
    width: 24px;
    height: 24px;
    bottom: -12px;
}

b {
    font-weight: 900;
}