<app-section-header title="ROSETTA’S PSYCHOMETRIC PROFILE">
    <app-avatar age="29" occupation="housewife" prof="Rosetta Miller"></app-avatar>
</app-section-header>
<div class="info-block">
    <div class="shop-block">
        <h4 class="shop-title">Recommended approach
            <br> for advertisement
            <br> based on the ‘OCEAN’ scoring</h4>
        <p class="shop-text">Due to high Neuroticism, the transformational and comparative ads should show better results. This trait also means
            that the red and purple colors have better influence on the person.
            <br/> Low Openness also suggests that consumer might better react to a good-looking design and is less concerned about
            the functionality and features of the product.</p>
    </div>
    <img src="../../assets/img/asd-5@2x.jpg" class="shop-now">
</div>