<app-section-header title="CONSUMER’S PSYCHOMETRIC PROFILE">
    <app-avatar age="29" occupation="Housewife" prof="Rosetta Miller"></app-avatar>
</app-section-header>
<div class="info-block align-center">
    <h4 class="info-text">
        We get holistic psychometric profile of consumer based on Big Five/OCEAN traits
    </h4>
</div>
<div class="info-block justify-center align-center">
    <div class="round-chart">
        <img src="http://via.placeholder.com/280x258">
    </div>
    <div class="table-score">
        <img src="http://via.placeholder.com/460x430">
    </div>
</div>
<app-section-header title="CONSUMER’S PSYCHOMETRIC PROFILE">
    <app-avatar age="29" occupation="housewife" prof="Rosetta Miller"></app-avatar>
</app-section-header>
<div class="info-block">
    <div class="shop-block">
        <h4 class="shop-title">Recommended approach
            <br> for advertisement
            <br> based on the ‘OCEAN’ scoring</h4>
        <p class="shop-text">Due to high Neuroticism, the transformational and comparative ads should show better results. This trait also means
            that the red and purple colors have better influence on the person.
            <br/> Low Openness also suggests that consumer might better react to a good-looking design and is less concerned about
            the functionality and features of the product.</p>
    </div>
    <img src="http://via.placeholder.com/450x375" class="shop-now">
</div>