.topnav {
    width: 100%;
    height: 125px;
    border-top: 10px solid #00b089;
    padding: 0 42px;
    display: flex;
    align-items: center;
    background: #fff;
}

.header-small {
  height: 123px;
  font-family: 'Proxima Nova Bl';
  font-size: 50px;
  font-weight: 900;
  line-height: 0.82;
  text-align: left;
  color: #000000;
}