<app-section-header title="CONSUMER’S PSYCHOMETRIC PROFILE">
    <app-avatar age="29" occupation="housewife" prof="Rosetta Miller"></app-avatar>
</app-section-header>
<div class="info-block">
    <div class="left-block">
        <h4 class="info-text">
            We get holistic psychometric profile of consumer based on Big Five/OCEAN traits
        </h4>
        <img src="../../assets/img/spider-illustration.svg" class="chart">
    </div>
    <div class="right-block">
        <h4 class="block-title">
            Big 5 personality traits
        </h4>
        <ul class="traits-list">
            <li class="list-item red">
                <h5 class="traits-title">Openness</h5>
                <p class="traits-text">Extent to which person is open to <br> experiencing a variety of activities.</p>
            </li>
            <li class="list-item orange">
                <h5 class="traits-title">Conscientiousness</h5>
                <p class="traits-text">Person’s tendency to act in an organized or thoughtful way.</p>
            </li>
            <li class="list-item blue">
                <h5 class="traits-title">Extraversion</h5>
                <p class="traits-text">Person’s tendency to seek stimulation in the company of others.</p>
            </li>
            <li class="list-item pink">
                <h5 class="traits-title">Agreeableness</h5>
                <p class="traits-text">Person’s tendency to be compassionate and cooperative towards others.</p>
            </li>
            <li class="list-item green">
                <h5 class="traits-title">Neuroticism</h5>
                <p class="traits-text">Person’s emotions are sensitive to the individual’s environment.</p>
            </li>
        </ul>
    </div>
</div>